@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

body {
    font-family: 'New Amsterdam', sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.naslov {
    font-size: 2em;
    color: #fff;
    text-align: center;
    min-height: 200px;
    display: flex;
    justify-content: center;
    background-color: #b7870f;
    align-items: center;
    flex-direction: column;
}